---
import MachineCard from '@components/ui/machine-card.astro'
import PagesHeader from '@components/ui/pages-header.astro'
---

<PagesHeader
  title='Nuestra Flota'
  subtitle='Contamos con maquinaria de última generación, mantenida bajo los más altos estándares de calidad para garantizar eficiencia y seguridad en cada proyecto.'
/>
<div
  class='max-w-max-width px-side mx-auto flex gap-4 flex-row md:gap-6 justify-center py-8 flex-wrap'
>
  <MachineCard
    img='https://placehold.co/270x270/png'
    imgAlt='Excavadora'
    title='Excavadora'
    description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
    link='/maquinas/excavadora'
    index={0}
  />
  <MachineCard
    img='https://placehold.co/270x270/png'
    imgAlt='Excavadora'
    title='Excavadora'
    description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
    link='/maquinas/excavadora'
    index={1}
  />
  <MachineCard
    img='https://placehold.co/270x270/png'
    imgAlt='Excavadora'
    title='Excavadora'
    description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
    link='/maquinas/excavadora'
    index={2}
  />
  <MachineCard
    img='https://placehold.co/270x270/png'
    imgAlt='Excavadora'
    title='Excavadora'
    description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
    link='/maquinas/excavadora'
    index={3}
  />
  <MachineCard
    img='https://placehold.co/270x270/png'
    imgAlt='Excavadora'
    title='Excavadora'
    description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
    link='/maquinas/excavadora'
    index={4}
  />
</div>
<div class='max-w-max-width px-side mx-auto pt-20'>
  <header class='flex flex-col items-center'>
    <h3
      class='text-2 sm:text-3 tracking-wide text-center animate-fade-down animate-once animate-ease-in-out'
    >
      IMPLEMENTOS
    </h3>
    <p
      class='text-xs animate-fade animate-once animate-delay-200 animate-ease-in-out text-center'
    >
      También contamos con implementos
    </p>
  </header>
  <div class='flex gap-4 flex-row md:gap-6 justify-center py-8 flex-wrap'>
    <MachineCard
      img='https://placehold.co/270x270/png'
      imgAlt='Excavadora'
      title='Excavadora'
      description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
      link='/maquinas/excavadora'
      index={0}
    />
    <MachineCard
      img='https://placehold.co/270x270/png'
      imgAlt='Excavadora'
      title='Excavadora'
      description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
      link='/maquinas/excavadora'
      index={1}
    />
    <MachineCard
      img='https://placehold.co/270x270/png'
      imgAlt='Excavadora'
      title='Excavadora'
      description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
      link='/maquinas/excavadora'
      index={2}
    />
    <MachineCard
      img='https://placehold.co/270x270/png'
      imgAlt='Excavadora'
      title='Excavadora'
      description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
      link='/maquinas/excavadora'
      index={3}
    />
    <MachineCard
      img='https://placehold.co/270x270/png'
      imgAlt='Excavadora'
      title='Excavadora'
      description='Excavadora de orugas para trabajos de excavación y movimiento de tierras.'
      link='/maquinas/excavadora'
      index={4}
    />
  </div>
</div>
