---
import ChevronDown from '@components/icons/chevron-down.astro'
import Contact from '@components/ui/contact.astro'
---

<header class='flex flex-col items-center'>
  <h2
    class='text-2 sm:text-3 tracking-wide text-center animate-fade-down animate-once animate-ease-in-out'
  >
    Contactarnos
  </h2>
  <p
    class='text-xs animate-fade animate-once animate-delay-200 animate-ease-in-out'
  >
    Soluciones integrales para tus proyectos de construcción
  </p>
  <ChevronDown />
</header>
<Contact />
