---
import PageContact from '@components/pages/contact/page-contact.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Contacto | Servicios Rimoldi - Movimiento de Suelos en Calamuchita'
  description='Contáctanos para solicitar presupuestos o más información sobre nuestros servicios. Dirección, teléfono, correo electrónico y formulario de contacto disponibles. ¡Estamos aquí para ayudarte!'
>
  <main>
    <PageContact />
  </main>
</Layout>
