---
import PageContact from '@components/pages/contact/page-contact.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Contacto para Servicios de Movimiento de Suelos | Presupuesto Sin Cargo'
  description='Solicita tu presupuesto sin cargo para servicios de movimiento de suelos en Calamuchita. Atención inmediata, consultas por WhatsApp y cotizaciones personalizadas. ¡Contáctanos!'
>
  <main>
    <PageContact />
  </main>
</Layout>
