---
import PageMachines from '@components/pages/machines/page-machines.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Alquiler de Maquinaria para Movimiento de Suelos | Servicios Rimoldi Calamuchita'
  description='Flota moderna de maquinaria pesada en Calamuchita: retroexcavadoras JCB 3CX, minicargadoras, camiones y equipos especializados. Alquiler con operador experto para todo tipo de obras. ¡Consulta disponibilidad!'
>
  <main>
    <PageMachines />
  </main>
</Layout>
