---
import PageMachines from '@components/pages/machines/page-machines.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Home' description="Eliot Rimoldi's personal website">
  <main class='py-6'>
    <PageMachines />
  </main>
</Layout>
