---
import PageMachines from '@components/pages/machines/page-machines.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Maquinaria Moderna para Movimiento de Suelos | Servicios Rimoldi'
  description='Conoce nuestra flota de maquinaria especializada: retro excavadoras JCB 3CX, mini cargadoras con orugas, camiones auxilio y más. Tecnología avanzada para resultados precisos.'
>
  <main>
    <PageMachines />
  </main>
</Layout>
