---
import PageProjects from '@components/pages/projects/page-projects.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Proyectos de Movimiento de Suelos en Calamuchita | Obras Realizadas'
  description='Explora nuestro portafolio de proyectos exitosos en Calamuchita: excavaciones profesionales, nivelación de terrenos, apertura de calles y más. Más de 500 obras completadas con excelencia. ¡Conoce nuestro trabajo!'
>
  <main>
    <PageProjects />
  </main>
</Layout>
