---
import PageProjects from '@components/pages/projects/page-projects.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Proyectos Realizados por Servicios Rimoldi | Galería de Obras'
  description='Explora nuestra galería de proyectos destacados: excavaciones, nivelaciones, apertura de calles y más. Ver ejemplos de nuestro trabajo en movimiento de suelos en Calamuchita.'
>
  <main>
    <PageProjects />
  </main>
</Layout>
