---
import PageServices from '@components/pages/services-page/page-services.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Servicios de Movimiento de Suelos en Calamuchita | Excavaciones y Nivelaciones'
  description='Servicios profesionales de movimiento de suelos en Calamuchita: excavaciones, nivelaciones, desmontes, apertura de calles y zanjeo. Equipos JCB de última generación y operadores expertos. ¡Solicita tu presupuesto!'
>
  <main>
    <PageServices />
  </main>
</Layout>
