---
import PageServices from '@components/pages/services-page/page-services.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Servicios de Movimiento de Suelos y Excavaciones en Calamuchita | Servicios Rimoldi'
  description='Descubre nuestros servicios integrales: excavaciones, nivelaciones, desmontes, pilotajes y más. Soluciones profesionales con tecnología avanzada para tus proyectos en Calamuchita.'
>
  <main class='py-6'>
    <PageServices />
  </main>
</Layout>
