---
import PageServices from '@components/pages/services-page/page-services.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Home' description="Eliot Rimoldi's personal website">
  <main class='py-6'>
    <PageServices />
  </main>
</Layout>
