---
import PageAbout from '@components/pages/about/page-about.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Sobre Nosotros | Servicios Rimoldi - Especialistas en Movimiento de Suelos'
  description='Somos una empresa familiar con años de experiencia en movimiento de suelos y excavaciones. Nuestra misión es brindar soluciones confiables y personalizadas para tus proyectos en Calamuchita.'
>
  <main>
    <PageAbout />
  </main>
</Layout>
