---
import PageAbout from '@components/pages/about/page-about.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='Empresa de Movimiento de Suelos en Calamuchita | 15 Años de Experiencia'
  description='Empresa familiar líder en movimiento de suelos en Calamuchita. 15 años de experiencia, más de 500 obras exitosas y un equipo altamente capacitado. Compromiso, calidad y tecnología a tu servicio. ¡Conoce nuestra historia!'
>
  <main>
    <PageAbout />
  </main>
</Layout>
