---
import PageAbout from '@components/pages/about/page-about.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Home' description="Eliot Rimoldi's personal website">
  <main class='py-6'>
    <PageAbout />
  </main>
</Layout>
