---
import { Image } from 'astro:assets'
---

<section class='about'>
  <div
    class='max-w-max-width h-full px-side mx-auto flex flex-col-reverse lg:flex-row items-center lg:items-end'
  >
    <div class='w-full lg:w-1/2 self-end flex justify-center'>
      <Image
        src='/images/about-person.webp'
        alt='Logo de Servicios Rimoldi'
        width='595'
        height='507'
      />
    </div>
    <div class='w-full lg:w-1/2 flex flex-col gap-4 self-start lg:py-24 py-16'>
      <h2 class='text-main-color text-2 sm:text-3 tracking-wide'>
        Quienes Somos?
      </h2>
      <p class='text-xs text-main-color'>
        En Servicios Rimoldi, ubicados en Quillinzo, provincia de Córdoba, nos
        especializamos en movimiento de suelos, excavaciones, zanjeo y limpieza
        de terrenos. Somos una empresa familiar que combina experiencia y
        valores tradicionales para brindar resultados de excelencia en cada
        proyecto.
      </p>
      <p class='text-xs text-main-color'>
        Nuestra historia comienza en Rosario con Elio padre, quien impulsó esta
        iniciativa y luego se trasladó a Quillinzo en busca de una vida
        tranquila, sin renunciar a su pasión por la calidad y el servicio.
      </p>
      <p class='text-xs text-main-color'>
        Hoy, trabaja junto a su hijo Elio, fortaleciendo los lazos familiares y
        respaldando la economía local. Este espíritu de cooperación y dedicación
        mejora nuestros servicios y nos posiciona como líderes en nuestra
        región.
      </p>
      <p class='text-xs text-main-color'>
        Confiar en Servicios Rimoldi significa optar por compromiso, seguridad,
        cercanía y la mejor tecnología para el movimiento de suelos y limpieza
        de terrenos en la provincia de Córdoba.
      </p>
    </div>
  </div>
</section>

<style>
  .about {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url('/images/background.webp');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 5rem;
    height: auto;
    z-index: 1;
  }

  .about::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/icons/tear-about.svg');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: drop-shadow(0px -10px 10px rgba(05, 05, 05, 0.1));
    transform: rotate(180deg);
  }

  @media screen and (max-width: 768px) {
    .about::before {
      background-size: auto;
    }
  }

  .about::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/icons/tear-about.svg');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: drop-shadow(0px -10px 10px rgba(05, 05, 05, 0.1));
  }

  @media screen and (max-width: 768px) {
    .about::after {
      background-size: auto;
    }
  }

  @media (min-width: 1024px) {
    .about {
      height: 750px;
      padding: 0;
    }
  }
</style>
