---
import HomeSection from './ui/home-section.astro'
import Contact from '@components/ui/contact.astro'
---

<HomeSection>
  <header class='flex flex-col items-center'>
    <h2 class='text-2 sm:text-3 tracking-wide text-center'>Contactarnos</h2>
    <p class='text-xs'>
      Soluciones integrales para tus proyectos de construcción
    </p>
  </header>
  <Contact />
</HomeSection>
