---
import Banner from './banner.astro'
import Hero from './hero.astro'
import HomeAbout from './home-about.astro'
import HomeCarriedOut from './home-carried-out.astro'
import HomeContact from './home-contact.astro'
import HomeFeature from './home-feature.astro'
import HomeMachine from './home-machine.astro'
import HomePriceBanner from './home-price-banner.astro'
import HomeProjects from './home-projects.astro'
import HomeServices from './home-services.astro'
---

<main>
  <Hero />
  <Banner />
  <HomeServices />
  <HomePriceBanner />
  <HomeMachine />
  <HomeAbout />
  <HomeFeature />
  <HomeCarriedOut />
  <HomeProjects />
  <HomeContact />
</main>
