<section class='carried'>
  <div class='max-w-max-width px-side mx-auto md:py-24 py-16 space-y-8'>
    <header class='flex flex-col items-center'>
      <h2
        class='text-main-color text-2 sm:text-3 tracking-wide text-center z-10'
      >
        PROYECTOS REALIZADOS
      </h2>
      <p class='text-xs text-main-color z-10 text-center'>
        Descubre nuestros proyectos realizados en 2024, incluyendo obras
        completadas, m³ excavados y clientes satisfechos.
      </p>
    </header>
    <div
      class='flex flex-col md:flex-row gap-8 justify-between items-center md:items-start'
    >
      <div
        class='lg:w-[400px] md:w-[300px] w-full flex flex-col gap-4 justify-between flex-shrink-0'
      >
        <div class='bg-background-color py-4 px-6 z-10'>
          <h3 class='text-third-color text-1 font-noto font-bold'>
            Obras completadas
          </h3>
          <span class='flex items-center gap-1'>
            <p
              class='font-quicksilver text-0 text-second-color tracking-wide count-up'
              data-target='150'
            >
              0
            </p>
            <span
              class='font-quicksilver text-0 text-second-color tracking-wide'
              >+</span
            >
          </span>
        </div>
        <div class='bg-background-color py-4 px-6 z-10'>
          <h3 class='text-third-color text-1 font-noto font-bold'>
            M³ Excavados
          </h3>

          <div class='flex items-center gap-1'>
            <p
              class='font-quicksilver text-0 text-second-color tracking-wide count-up'
              data-target='50000'
            >
              0
            </p>
            <span
              class='font-quicksilver text-0 text-second-color tracking-wide'
              >+</span
            >
          </div>
        </div>
        <div class='bg-background-color py-4 px-6 z-10'>
          <h3 class='text-third-color text-1 font-noto font-bold'>
            Clientes Satisfechos
          </h3>
          <div class='flex items-center gap-1'>
            <p
              class='font-quicksilver text-0 text-second-color tracking-wide count-up'
              data-target='200'
            >
              0
            </p>
            <span
              class='font-quicksilver text-0 text-second-color tracking-wide'
              >+</span
            >
          </div>
        </div>
        <div class='bg-background-color py-4 px-6 z-10'>
          <h3 class='text-third-color text-1 font-noto font-bold'>
            Años de Experiencia
          </h3>
          <div class='flex items-center gap-1'>
            <p
              class='font-quicksilver text-0 text-second-color tracking-wide count-up'
              data-target='40'
            >
              0
            </p>
            <span
              class='font-quicksilver text-0 text-second-color tracking-wide'
              >+</span
            >
          </div>
        </div>
      </div>
      <div class='w-full h-full flex flex-col gap-8 justify-center z-10'>
        <div class='flex gap-4 items-center'>
          <strong
            class='text-0 lg:w-[200px] w-[140px] max-[400px]:w-[120px] flex-shrink-0'
            >Limpiezas</strong
          >
          <div class='relative w-full h-6 flex items-center'>
            <div
              class='absolute top-0 left-0 bg-background-color h-full'
              style='width: 100%'
            >
            </div>
            <span class='relative z-10'>
              <span
                class='text-xs pl-2 text-third-color count-up'
                data-target='100'>0</span
              >
              <span class='text-xs text-third-color'>+</span>
            </span>
          </div>
        </div>
        <div class='flex gap-4 items-center'>
          <strong
            class='text-0 lg:w-[200px] w-[140px] max-[400px]:w-[120px] flex-shrink-0'
            >Sangrías</strong
          >
          <div class='relative w-full h-6 flex items-center'>
            <div
              class='absolute top-0 left-0 bg-background-color h-full'
              style='width: 80%'
            >
            </div>
            <span class='relative z-10'>
              <span
                class='text-xs pl-2 text-third-color count-up'
                data-target='60'>0</span
              >
              <span class='text-xs text-third-color'>+</span>
            </span>
          </div>
        </div>
        <div class='flex gap-4 items-center'>
          <strong
            class='text-0 lg:w-[200px] w-[140px] max-[400px]:w-[120px] flex-shrink-0'
            >Nivelaciones</strong
          >
          <div class='relative w-full h-6 flex items-center'>
            <div
              class='absolute top-0 left-0 bg-background-color h-full'
              style='width: 75%'
            >
            </div>

            <span class='relative z-10'>
              <span
                class='text-xs pl-2 text-third-color count-up'
                data-target='55'>0</span
              >
              <span class='text-xs text-third-color'>+</span>
            </span>
          </div>
        </div>
        <div class='flex gap-4 items-center'>
          <strong
            class='text-0 lg:w-[200px] w-[140px] max-[400px]:w-[120px] flex-shrink-0'
            >Pozos para piletas</strong
          >
          <div class='relative w-full h-6 flex items-center'>
            <div
              class='absolute top-0 left-0 bg-background-color h-full'
              style='width: 60%'
            >
            </div>
            <span class='relative z-10'>
              <span
                class='text-xs pl-2 text-third-color count-up'
                data-target='44'>0</span
              >
              <span class='text-xs text-third-color'>+</span>
            </span>
          </div>
        </div>
        <div class='flex gap-4 items-center'>
          <strong
            class='text-0 lg:w-[200px] w-[140px] max-[400px]:w-[120px] flex-shrink-0'
            >Plateas</strong
          >
          <div class='relative w-full h-6 flex items-center'>
            <div
              class='absolute top-0 left-0 bg-background-color h-full'
              style='width: 45%'
            >
            </div>
            <span class='relative z-10'>
              <span
                class='text-xs pl-2 text-third-color count-up'
                data-target='18'>0</span
              >
              <span class='text-xs text-third-color'>+</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='282'
    height='194'
    fill='none'
    viewBox='0 0 282 194'
    class='absolute bottom-10 right-10 opacity-70'
    ><path
      fill='url(#ab)'
      d='M262.55 193.936H282v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.5 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45H75.01v19.45Zm-37.5 0h19.45v-19.45H37.51v19.45Zm-37.51 0h19.45v-19.45H0v19.45Zm262.55-34.73H282v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.5 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45H75.01v19.45Zm-37.5 0h19.45v-19.45H37.51v19.45Zm-37.51 0h19.45v-19.45H0v19.45Zm262.55-34.72H282v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.5 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45H75.01v19.45Zm-37.5 0h19.45v-19.45H37.51v19.45Zm-37.51 0h19.45v-19.45H0v19.45Zm262.55-34.7303H282v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.5 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45H75.01v19.45Zm-37.5 0h19.45v-19.45H37.51v19.45Zm-37.51 0h19.45v-19.45H0v19.45Zm262.55-34.73H282v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.5 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45h-19.45v19.45Zm-37.51 0h19.45v-19.45H75.01v19.45Zm-37.5 0h19.45v-19.45H37.51v19.45Zm-37.51 0h19.45v-19.45H0v19.45Zm262.55-34.73H282V.845703h-19.45V20.2957Zm-37.51 0h19.45V.845703h-19.45V20.2957Zm-37.5 0h19.45V.845703h-19.45V20.2957Zm-37.51 0h19.45V.845703h-19.45V20.2957Zm-37.51 0h19.45V.845703h-19.45V20.2957Zm-37.51 0h19.45V.845703H75.01V20.2957Zm-37.5 0h19.45V.845703H37.51V20.2957Zm-37.51 0h19.45V.845703H0V20.2957Z'
    ></path><defs
      ><linearGradient
        id='ab'
        x1='141'
        x2='141'
        y1='190.056'
        y2='-13.5743'
        gradientUnits='userSpaceOnUse'
        ><stop stop-color='#494747'></stop><stop
          offset='1'
          stop-color='#494747'
          stop-opacity='0'></stop></linearGradient
      ></defs
    ></svg
  >
</section>

<style>
  .carried {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url('/images/background.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 5rem;
    height: auto;
    z-index: 1;
  }

  .carried::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/icons/tear-about.svg');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: drop-shadow(0px -10px 10px rgba(05, 05, 05, 0.1));
    transform: rotate(180deg) scaleX(-1);
  }

  @media screen and (max-width: 768px) {
    .carried::before {
      background-size: auto;
    }
  }
</style>
