---
import Banner from './banner.astro'
import Hero from './hero.astro'
import HomeAbout from './home-about.astro'
import HomeMachine from './home-machine.astro'
import HomePriceBanner from './home-price-banner.astro'
import HomeProjects from './home-projects.astro'
import HomeServices from './home-services.astro'
---

<main>
  <Hero />
  <Banner />
  <HomeServices />
  <HomePriceBanner />
  <HomeMachine />
  <HomeAbout />
  <HomeProjects />
</main>
