---
import PagesHeader from '@components/ui/pages-header.astro'
import ServiceCard from '@components/ui/service-card.astro'
---

<PagesHeader
  title='Nuestros Servicios'
  subtitle='Ofrecemos soluciones integrales en movimiento de suelos y excavaciones, respaldados por años de experiencia y maquinaria de última generación.'
/>
<div
  class='max-w-max-width px-side mx-auto flex gap-4 flex-row md:gap-6 justify-center py-8 flex-wrap'
>
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Construcción de edificios'
    title='Construcción de edificios'
    description='Construcción de edificios residenciales, comerciales e industriales.'
    link='/servicios/construccion-de-edificios'
    index={0}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Remodelaciones'
    title='Remodelaciones'
    description='Remodelaciones de espacios interiores y exteriores.'
    link='/servicios/remodelaciones'
    index={1}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Diseño de interiores'
    title='Diseño de interiores'
    description='Diseño de interiores para espacios residenciales y comerciales.'
    link='/servicios/diseno-de-interiores'
    index={2}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Construcción de edificios'
    title='Construcción de edificios'
    description='Construcción de edificios residenciales, comerciales e industriales.'
    link='/servicios/construccion-de-edificios'
    index={3}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Remodelaciones'
    title='Remodelaciones'
    description='Remodelaciones de espacios interiores y exteriores.'
    link='/servicios/remodelaciones'
    index={4}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Diseño de interiores'
    title='Diseño de interiores'
    description='Diseño de interiores para espacios residenciales y comerciales.'
    link='/servicios/diseno-de-interiores'
    index={5}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Diseño de interiores'
    title='Diseño de interiores'
    description='Diseño de interiores para espacios residenciales y comerciales.'
    link='/servicios/diseno-de-interiores'
    index={6}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Diseño de interiores'
    title='Diseño de interiores'
    description='Diseño de interiores para espacios residenciales y comerciales.'
    link='/servicios/diseno-de-interiores'
    index={7}
  />
  <ServiceCard
    img='https://placehold.co/270x270/png'
    imgAlt='Diseño de interiores'
    title='Diseño de interiores'
    description='Diseño de interiores para espacios residenciales y comerciales.'
    link='/servicios/diseno-de-interiores'
    index={8}
  />
</div>
