---
interface Props {
  href: string
  alternative?: boolean
  ariaLabel: string
}

const { pathname } = Astro.url
const { href, alternative, ariaLabel } = Astro.props
---

<a
  href={href}
  class={alternative
    ? 'anchor anchor__alternative focus:outline-offset-4 focus:outline-2'
    : 'anchor anchor__primary focus:outline-offset-4 focus:outline-2'}
  aria-label={ariaLabel || 'Ir a otra página del sitio'}
  aria-current={pathname === href ? 'page' : undefined}
>
  <slot />
</a>

<style>
  .anchor {
    background-color: var(--second-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    font-size: var(--step--1);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .anchor__primary {
    transition: filter 0.3s ease;
  }

  .anchor__primary:hover {
    filter: brightness(0.8);
  }

  .anchor__primary:focus {
    filter: brightness(1.1);
  }

  .anchor__primary:active {
    filter: brightness(0.6);
  }

  .anchor__alternative {
    background-color: var(--background-color);
    color: var(--third-color);
    border: 1px solid var(--third-color);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }

  .anchor__alternative:hover {
    background-color: var(--third-color);
    color: var(--background-color);
  }

  .anchor__alternative:focus {
    background-color: var(--third-color);
    color: var(--background-color);
  }

  .anchor__alternative:active {
    filter: brightness(0.8);
  }
</style>
