---
import Facebook from '@components/icons/contact/facebook.astro'
import Instagram from '@components/icons/contact/instagram.astro'
import Whatsapp from '@components/icons/contact/whatsapp.astro'
import Phone from '@components/icons/contact/phone.astro'
import Mail from '@components/icons/contact/mail.astro'
import Location from '@components/icons/contact/location.astro'
import Anchor from './anchor.astro'
import ContactInfo from './contact-info.astro'
import { Picture } from 'astro:assets'
import contact from '/src/assets/images/contact.jpg'

interface Props {
  className?: string
}

const { className } = Astro.props

const siteKey = '0x4AAAAAAA8RfKGHYuwSX5vd'
---

<div
  class:list={[
    'w-full flex flex-col gap-7 md:flex-row md:gap-10 py-8',
    className
  ]}
>
  <div class='flex flex-col gap-7 md:w-1/2'>
    <div class='flex flex-col gap-5'>
      <h3 class='font-noto text-1 font-bold'>Información de contacto</h3>
      <ContactInfo title='Teléfono' description='+54 3415 610722 '>
        <Phone slot='icon' />
      </ContactInfo>
      <ContactInfo title='Email' description='rimoldi.elio78@gmail.com'>
        <Mail slot='icon' />
      </ContactInfo>
      <ContactInfo
        title='Locación'
        description='Calamuchita, Córdoba, Argentina'
      >
        <Location slot='icon' />
      </ContactInfo>
    </div>
    <div class='flex flex-col gap-5'>
      <h3 class='font-noto text-1 font-bold'>Síguenos en redes sociales</h3>
      <nav aria-label='Síguenos en redes sociales'>
        <ul class='flex gap-4 list-none p-0'>
          <li class='hover:scale-110 transform transition-transform'>
            <a
              href='https://www.facebook.com/elio.lakd'
              target='_blank'
              rel='noopener noreferrer'
              class='focus:outline-offset-4 focus:outline-2'
              aria-label='Síguenos en Facebook'
            >
              <Facebook />
              <span class='sr-only'>Facebook</span>
            </a>
          </li>
          <li class='hover:scale-110 transform transition-transform'>
            <a
              href='https://www.instagram.com/servicios_rimoldi/'
              target='_blank'
              rel='noopener noreferrer'
              class='focus:outline-offset-4 focus:outline-2'
              aria-label='Síguenos en Instagram'
            >
              <Instagram />
              <span class='sr-only'>Instagram</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <Anchor
        href='https://wa.me/3415610722'
        ariaLabel='Contactar por Whatsapp'
        external
      >
        <Whatsapp /> Contáctanos por WhatsApp
        <span class='sr-only'>Whatsapp</span>
      </Anchor>
    </div>
  </div>

  <div class='w-full md:w-1/2 flex justify-center overflow-hidden rounded-10px'>
    <Picture
      src={contact}
      widths={[508, 690, 605]}
      sizes={`(max-width: 550px) 508px, (max-width: 767px) 690px, (min-width: 768px) 690px)`}
      formats={['webp']}
      quality={'max'}
      alt='Los fundadores de Servicios Rimoldi, Elio padre e hijo.'
      class='h-full object-cover rounded-10px hover:scale-105 transform transition-transform'
    />
  </div>
</div>
