---
import Logo from '@components/icons/logo.astro'
---

<footer class='w-full pt-10 flex flex-col justify-between gap-14'>
  <div>
    <span>
      <Logo />
    </span>
    <span>
      <h4>Explora</h4>
      <nav>
        <a href=''>Inicio</a>
        <a href=''>Obras</a>
        <a href=''>Servicios</a>
      </nav>
    </span>
    <span>
      <h4>Compañía</h4>
      <nav>
        <a href=''>Maquinarias</a>
        <a href=''>Nosotros</a>
        <a href=''>Contacto</a>
      </nav>
    </span>
  </div>
  <div>
    <span></span>
    <span></span>
  </div>
</footer>
